In [1]:
import csv 
import matplotlib as plt
import requests
import pandas as pd
import numpy as np
from pprint import pprint

In [2]:
csv1 = "hpi-data-2016-complete_data.csv"
csv2 = "HDI_2016_Statistical1.csv"
csv3 = "Human development index (HDI)_historical.csv"

In [3]:
#human happiness complete data 
hpi_complete_data = pd.read_csv(csv1)

#human development index 
hdi_statistical_data = pd.read_csv(csv2)
hdi_historical_data = pd.read_csv(csv3, skiprows=1)

#df_columns = hdi_historical_data.columns
#df_years = df_columns[2:]

In [4]:
# df4 = pd.pivot_table(df2,values='Value', index='Date', columns='Type'])

In [5]:
hdi_historical = hdi_historical_data.dropna(axis=0, how="all").dropna(axis=1, how= "all")

#hdi historical rank sorted
hdi_historical_sorted_rank = hdi_historical.sort_values(by=["HDI Rank (2015)"])
hdi_historical_sorted_rank.head()

,HDI Rank (2015),Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
124,1,Norway,0.849,0.855,0.862,0.870,0.884,0.883,0.888,0.895,...,0.934,0.936,0.936,0.936,0.939,0.941,0.942,0.945,0.948,0.949
8,2,Australia,0.866,0.867,0.871,0.874,0.876,0.885,0.888,0.891,...,0.918,0.921,0.925,0.927,0.927,0.930,0.933,0.936,0.937,0.939
162,2,Switzerland,0.831,0.833,0.835,0.840,0.842,0.846,0.853,0.863,...,0.911,0.914,0.916,0.920,0.932,0.932,0.934,0.936,0.938,0.939
63,4,Germany,0.801,0.809,0.814,0.822,0.828,0.834,0.840,0.845,...,0.898,0.903,0.906,0.907,0.912,0.916,0.919,0.920,0.924,0.926
150,5,Singapore,0.718,0.729,0.740,0.751,0.763,0.773,0.783,0.795,...,0.873,0.880,0.887,0.889,0.911,0.917,0.920,0.922,0.924,0.925

In [6]:
#hpi_data.dropna(axis=[0,1], how='all')

#human happiness index dropped NaN
hpi_df = hpi_complete_data.dropna(axis=0, how='all').dropna(axis=1, how='all')
hpi_df.head()

,HPI Rank,Country,Region,Average Life Expectancy,Average Wellbeing (0-10),Happy Life Years,Footprint (gha/capita),Inequality of Outcomes,Inequality-adjusted Life Expectancy,Inequality-adjusted Wellbeing,Happy Planet Index,GDP/capita ($PPP),Population,GINI index
0,110.0,Afghanistan,Middle East and North Africa,59.7,3.8,12.4,0.8,43%,38.3,3.4,20.2,$691,"29,726,803",Data unavailable
1,13.0,Albania,Post-communist,77.3,5.5,34.4,2.2,17%,69.7,5.1,36.8,"$4,247","2,900,489",29.0
2,30.0,Algeria,Middle East and North Africa,74.3,5.6,30.5,2.1,24%,60.5,5.2,33.3,"$5,584","37,439,427",Data unavailable
3,19.0,Argentina,Americas,75.9,6.5,40.2,3.1,16%,68.3,6.0,35.2,"$14,357","42,095,224",42.5
4,73.0,Armenia,Post-communist,74.4,4.3,24.0,2.2,22%,66.9,3.7,25.7,"$3,566","2,978,339",30.5

In [7]:
#human development index statistical data dropped NaN
hdi_stat = hdi_statistical_data.dropna(axis=0, how='all').dropna(axis=1, how='all')

#merged dataframes-- hdi statistical and hpi on country name
merged_df= pd.merge(hdi_stat, hpi_df, on = "Country")


#####merge hdi statistical with GNH (gross national happiness) index by country name.

In [8]:
merged_df.head()

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank.1,Development Bucket,...,Average Wellbeing (0-10),Happy Life Years,Footprint (gha/capita),Inequality of Outcomes,Inequality-adjusted Life Expectancy,Inequality-adjusted Wellbeing,Happy Planet Index,GDP/capita ($PPP),Population,GINI index
0,1,Norway,0.949,81.7,17.7,12.7,"67,614",5,1,VERY HIGH HUMAN DEVELOPMENT,...,7.7,57.1,5.0,7%,78.6,7.4,36.8,"$101,564","5,018,573",25.9
1,2,Australia,0.939,82.5,20.4,13.2,"42,822",19,3,VERY HIGH HUMAN DEVELOPMENT,...,7.2,53.1,9.3,8%,78.6,6.9,21.2,"$67,646","22,728,254",Data unavailable
2,2,Switzerland,0.939,83.1,16.0,13.4,"56,364",7,2,VERY HIGH HUMAN DEVELOPMENT,...,7.8,59.3,5.8,6%,79.4,7.6,34.3,"$83,209","7,996,861",31.6
3,4,Germany,0.926,81.1,17.1,13.2,"45,000",13,4,VERY HIGH HUMAN DEVELOPMENT,...,6.7,48.2,5.3,8%,77.6,6.4,29.8,"$44,011","80,425,823",Data unavailable
4,5,Denmark,0.925,80.4,19.2,12.7,"44,519",13,6,VERY HIGH HUMAN DEVELOPMENT,...,7.5,54.4,5.5,7%,76.8,7.2,32.7,"$57,636","5,591,572",29.1