In [1]:
# Dependencies
import csv
import matplotlib.pyplot as plt
import requests
import pandas as pd
from config import API_key
import json
import numpy as np
from pprint import pprint

In [9]:
#data of country and contry code dataframe
country_codes = pd.read_csv("country_codes", delimiter="|")

#data of indicator description with indicator code dataframe
indicator = pd.read_csv("wedu_indicators.txt", delimiter="|")

indicator

,INDICATOR,CODE
0,Adjusted net intake rate (%). Primary. Female,UIS_NIRA_1_F
1,Adjusted net intake rate (%). Primary. Male,UIS_NIRA_1_M
2,Adjusted net intake rate (%). Primary. Total,UIS_NIRA_1
3,Adult illiterate population. % female,UIS_LPP_AG15T99
4,Adult illiterate population. Female,UIS_LP_AG15T99_F
5,Adult illiterate population. Male,UIS_LP_AG15T99_M
6,Adult illiterate population. Total,UIS_LP_AG15T99
7,"average years of primary schooling, 15-19, female",BAR_PRM_SCHL_1519_FE
8,"average years of primary schooling, 15-19, total",BAR_PRM_SCHL_1519
9,"average years of primary schooling, 15+, female",BAR_PRM_SCHL_15UP_FE
10,"average years of primary schooling, 15+, total",BAR_PRM_SCHL_15UP
11,"average years of primary schooling, 20-24, female",BAR_PRM_SCHL_2024_FE
12,"average years of primary schooling, 20-24, total",BAR_PRM_SCHL_2024
13,"average years of primary schooling, 25-29, female",BAR_PRM_SCHL_2529_FE
14,"average years of primary schooling, 25-29, total",BAR_PRM_SCHL_2529
15,"average years of primary schooling, 25+, female",BAR_PRM_SCHL_25UP_FE
16,"average years of primary schooling, 25+, total",BAR_PRM_SCHL_25UP
17,"average years of primary schooling, 30-34, female",BAR_PRM_SCHL_3034_FE
18,"average years of primary schooling, 30-34, total",BAR_PRM_SCHL_3034
19,"average years of primary schooling, 35-39, female",BAR_PRM_SCHL_3539_FE
20,"average years of primary schooling, 35-39, total",BAR_PRM_SCHL_3539
21,"average years of primary schooling, 40-44, female",BAR_PRM_SCHL_4044_FE
22,"average years of primary schooling, 40-44, total",BAR_PRM_SCHL_4044
23,"average years of primary schooling, 45-49, female",BAR_PRM_SCHL_4549_FE
24,"average years of primary schooling, 45-49, total",BAR_PRM_SCHL_4549
25,"average years of primary schooling, 50-54, female",BAR_PRM_SCHL_5054_FE
26,"average years of primary schooling, 50-54, total",BAR_PRM_SCHL_5054
27,"average years of primary schooling, 55-59, female",BAR_PRM_SCHL_5559_FE
28,"average years of primary schooling, 55-59, total",BAR_PRM_SCHL_5559
29,"average years of primary schooling, 60-64, female",BAR_PRM_SCHL_6064_FE
...,...,...
2197,TIMSS:Mean performance on the science scale f...,LO_TIMSS_SCI8
2198,TIMSS:Mean performance on the science scale f...,LO_TIMSS_SCI4_FE
2199,TIMSS:Mean performance on the science scale f...,LO_TIMSS_SCI4_MA
2200,TIMSS:Mean performance on the science scale f...,LO_TIMSS_SCI4
2201,Total expenditure on educational institutions ...,UIS_XGDP_FDINSTADM_FFD
2202,Total expenditure on educational institutions ...,UIS_XGDP_0_FDINSTADM_FFD
2203,Total expenditure on educational institutions ...,UIS_XGDP_1_FDINSTADM_FFD
2204,Total expenditure on educational institutions ...,UIS_XGDP_234_FDINSTADM_FFD
2205,Total expenditure on educational institutions ...,UIS_XGDP_56_FDINSTADM_FFD
2206,Total expenditure on educational institutions ...,UIS_XGDP_FSINT_FDINST_FFD
2207,Total expenditure on educational institutions ...,UIS_XGDP_FSPR_FDINST_FFD
2208,Total expenditure on educational institutions ...,UIS_XGDP_0_FSPR_FDINST_FFD
2209,Total expenditure on educational institutions ...,UIS_XGDP_1_FSPR_FDINST_FFD
2210,Total expenditure on educational institutions ...,UIS_XGDP_234_FSPR_FDINST_FFD
2211,Total expenditure on educational institutions ...,UIS_XGDP_56_FSPR_FDINST_FFD
2212,Total expenditure on educational institutions ...,UIS_XGDP_FSGOV_FDINSTADM_FFD
2213,Total expenditure on educational institutions ...,UIS_XGDP_0_FSGOV_FDINSTADM_FFD
2214,Total expenditure on educational institutions ...,UIS_XGDP_1_FSGOV_FDINSTADM_FFD
2215,Total expenditure on educational institutions ...,XGDP_234_FSGOV_FDINSTADM_FFD
2216,Total expenditure on educational institutions ...,XGDP_56_FSGOV_FDINSTADM_FFD
2217,Under-age enrolment ratio. Primary. Female,UIS_UAPP_1_F
2218,Under-age enrolment ratio. Primary. Male,UIS_UAPP_1_M
2219,Under-age enrolment ratio. Primary. Total,UIS_UAPP_1
2220,Vocational and Technical enrollment (% of tota...,SE_SEC_ENRL_FE_VO_ZS
2221,Vocational and Technical enrollment (% of tota...,SE_SEC_ENRL_MA_VO_ZS
2222,Vocational and Technical enrollment (% of tota...,SE_SEC_ENRL_VO_ZS
2223,Youth illiterate population. % female,UIS_LPP_AG15T24
2224,Youth illiterate population. Female,UIS_LP_AG15T24_F
2225,Youth illiterate population. Male,UIS_LP_AG15T24_M
2226,Youth illiterate population. Total,UIS_LP_AG15T24

In [41]:
countries = country_codes.set_index("COUNTRY")

country_name = countries['CODE']

In [4]:
#url = "https://www.quandl.com/api/v3/datasets/WEDU/ARE_BAR_SCHL_5054?api_key=WS-gjEBfsaFutR6y3pzY"

country_list = []

for country in countries["CODE"]:
    country_list.append(country)
country_list

['AFG',
 'AFR',
 'ALB',
 'DZA',
 'ASM',
 'AND',
 'AGO',
 'ATG',
 'ARB',
 'ARG',
 'ARM',
 'ABW',
 'AUS',
 'AUT',
 'AZE',
 'BHS',
 'BHR',
 'BGD',
 'BRB',
 'BLR',
 'BEL',
 'BLZ',
 'BEN',
 'BMU',
 'BTN',
 'BOL',
 'BIH',
 'BWA',
 'BRA',
 'BRN',
 'BGR',
 'BFA',
 'BDI',
 'CPV',
 'KHM',
 'CMR',
 'CAN',
 'CSS',
 'CYM',
 'CAF',
 'TCD',
 'CHI',
 'CHL',
 'CHN',
 'COL',
 'COM',
 'COD',
 'COG',
 'CRI',
 'CIV',
 'HRV',
 'CUB',
 'CUW',
 'CYP',
 'CZE',
 'DNK',
 'DJI',
 'DOM',
 'DMA',
 'EAS',
 'EAP',
 'CEA',
 'ECU',
 'EGY',
 'SLV',
 'GNQ',
 'ERI',
 'EST',
 'ETH',
 'EMU',
 'ECS',
 'ECA',
 'CEU',
 'EUU',
 'FRO',
 'FJI',
 'FIN',
 'FRA',
 'PYF',
 'GAB',
 'GMB',
 'GEO',
 'DEU',
 'GHA',
 'GRC',
 'GRL',
 'GRD',
 'GUM',
 'GTM',
 'GNB',
 'GIN',
 'GUY',
 'HTI',
 'HPC',
 'NOC',
 'OEC',
 'HIC',
 'HND',
 'HKG',
 'HUN',
 'ISL',
 'IND',
 'IDN',
 'IRN',
 'IRQ',
 'IRL',
 'IMN',
 'ISR',
 'ITA',
 'JAM',
 'JPN',
 'JOR',
 'KAZ',
 'KEN',
 'KIR',
 'PRK',
 'KOR',
 'KSV',
 'KWT',
 'KGZ',
 'LAO',
 'LCN',
 'LAC',
 'CLA',
 'LVA',
 'LDC',
 'LBN',
 'LSO',
 'LBR',
 'LBY',
 'LIE',
 'LTU',
 'LMY',
 'LIC',
 'LMC',
 'LUX',
 'MAC',
 'MKD',
 'MDG',
 'MWI',
 'MYS',
 'MDV',
 'MLI',
 'MLT',
 'MHL',
 'MRT',
 'MUS',
 'MEX',
 'FSM',
 'MEA',
 'MNA',
 'CME',
 'MIC',
 'MDA',
 'MCO',
 'MNG',
 'MNE',
 'MAR',
 'MOZ',
 'MMR',
 'NAM',
 'NPL',
 'NLD',
 'NCL',
 'NZL',
 'NIC',
 'NGA',
 'NER',
 'NAF',
 'NAC',
 'MNP',
 'NOR',
 'OED',
 'OMN',
 'OSS',
 'PSS',
 'PAK',
 'PLW',
 'PAN',
 'PNG',
 'PRY',
 'PER',
 'PHL',
 'POL',
 'PRT',
 'PRI',
 'QAT',
 'ROU',
 'RUS',
 'RWA',
 'WSM',
 'SMR',
 'STP',
 'SAU',
 'SEN',
 'SRB',
 'SYC',
 'SLE',
 'SGP',
 'SXM',
 'SVK',
 'SVN',
 'SST',
 'SLB',
 'SOM',
 'ZAF',
 'CSA',
 'SAS',
 'SSD',
 'ESP',
 'LKA',
 'KNA',
 'LCA',
 'MAF',
 'VCT',
 'SSF',
 'SSA',
 'CAA',
 'XZN',
 'SXZ',
 'SDN',
 'SUR',
 'SWZ',
 'SWE',
 'CHE',
 'SYR',
 'TJK',
 'TZA',
 'THA',
 'TLS',
 'TGO',
 'TON',
 'TTO',
 'TUN',
 'TUR',
 'TKM',
 'TCA',
 'TUV',
 'UGA',
 'UKR',
 'ARE',
 'GBR',
 'USA',
 'UMC',
 'URY',
 'UZB',
 'VUT',
 'VEN',
 'VNM',
 'VIR',
 'PSE',
 'WLD',
 'YEM',
 'ZMB',
 'ZWE']

In [ ]:

url_country_code = []
indicator_list= []

In [10]:
for indicator_code in indicator["CODE"]:
    indicator_list.append(indicator_code)

In [ ]:
#url = "https://www.quandl.com/api/v3/datasets/WEDU/ARE_BAR_SCHL_5054?api_key=WS-gjEBfsaFutR6y3pzY"
base_url = "https://www.quandl.com/api/v3/datasets/WEDU"

In [ ]:
 

# defining a params dict for the parameters to be sent to the API
PARAMS = {'country': country_name,
          'indicator': indicator_list}

# sending get request and saving the response as response object
r = requests.get(url = URL, params = PARAMS)

# extracting data in json format
data = r.json()


# extracting latitude, longitude and formatted address 
# of the first matching location
latitude = data['results'][0]['geometry']['location']['lat']
longitude = data['results'][0]['geometry']['location']['lng']
formatted_address = data['results'][0]['formatted_address']

# printing the output
print("Latitude:%s\nLongitude:%s\nFormatted Address:%s"
	%(latitude, longitude,formatted_address))

In [ ]:
for code in indicator["CODE"]:
    print(code)

In [ ]:

# Each dataset in this database has a Quandl code of the following formats:

# WEDU/{COUNTRY}_{INDICATOR}

# where WEDU represents the Quandl database code, {COUNTRY} is the ISO 3-letter code of the country in question, and {INDICATOR} is the indicator code.

# Here are some examples showing how the dataset codes are constructed:

In [ ]:
Female|UIS_NIRA_1_F
countrycodes = "../Resources/Quandl_country_codes.csv"
countrycodes_df = pd.read_csv(countrycodes, encoding="ISO-8859-1")
countrycodes_df.head()

In [ ]:
mydata = quandl.get("FRED/GDP")
mydata.head()