In [7]:
# Dependencies
import csv
import matplotlib.pyplot as plt
import requests
import pandas as pd
from config import API_key
import json
import numpy as np
from pprint import pprint
import quandl

In [17]:
# import country codes
countrycodes = "../Resources/Quandl_country_codes.csv"
countrycodes_df = pd.read_csv(countrycodes, encoding="ISO-8859-1")
countrycodes_df.head()

          Country Code
0     Afghanistan  AFG
1          Africa  AFR
2         Albania  ALB
3         Algeria  DZA
4  American Samoa  ASM

In [9]:
mydata = quandl.get("FRED/GDP")
mydata.head()

              Value
Date
1947-01-01  243.164
1947-04-01  245.968
1947-07-01  249.585
1947-10-01  259.745
1948-01-01  265.742

In [16]:
# Save config information

# url = "https://www.quandl.com/api/v3/datatables/ETFG/FUND.json?ticker=SPY&api_key="

# https://www.quandl.com/api/v3/datasets/{database_code}/{dataset_code}/data.{return_format}.
database_code = "WEDU"
dataset_code = "ABW_SE_PRE_ENRL"

url = "https://www.quandl.com/api/v3/datasets/" + database_code + "/" + dataset_code + "?column_index=1&api_key="

# Build query URL
query_url = url + API_key

In [18]:
# Get weather data
response = requests.get(query_url)
json = response.json()

pprint(json)

{'dataset': {'collapse': None,
             'column_index': 1,
             'column_names': ['Date', 'Value'],
             'data': [['2014-12-31', 2811.0],
                      ['2013-12-31', 2822.0],
                      ['2012-12-31', 2874.0],
                      ['2011-12-31', 2782.0],
                      ['2010-12-31', 2809.0],
                      ['2009-12-31', 2707.0],
                      ['2008-12-31', 2740.0],
                      ['2007-12-31', 2914.0],
                      ['2006-12-31', 2985.0],
                      ['2005-12-31', 2821.0],
                      ['2004-12-31', 2836.0],
                      ['2003-12-31', 2906.0],
                      ['2002-12-31', 2895.0],
                      ['2001-12-31', 2867.0],
                      ['2000-12-31', 2809.0],
                      ['1999-12-31', 2712.0]],
             'database_code': 'WEDU',
             'database_id': 13545,
             'dataset_code': 'ABW_SE_PRE_ENRL',
             'description': 'Enrolment in pre-primary. Public and private. All '
                            'programmes. Total - Aruba. ',
             'end_date': '2014-12-31',
             'frequency': 'annual',
             'id': 21647485,
             'limit': None,
             'name': 'Enrolment in pre-primary. Public and private. All '
                     'programmes. Total - Aruba',
             'newest_available_date': '2014-12-31',
             'oldest_available_date': '1999-12-31',
             'order': None,
             'premium': False,
             'refreshed_at': '2018-08-24T19:10:51.844Z',
             'start_date': '1999-12-31',
             'transform': None,
             'type': 'Time Series'}}

In [22]:
name = json["dataset"]["description"]
data2 = json["dataset"]["data"][]
data2

['2013-12-31', 2822.0]